
@keyframes image-change{
    0%{
    background: url("../images/angama-mara-kenya-p.webp");
    background-repeat: no-repeat;
background-size: cover;
    }
    100%{
            background: url("../images/elsas-kopje-lodge-p.webp");
background-repeat: no-repeat;
background-size: cover;
    }
}