@media only screen and(max-width:850px) {
    #first{

justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  nav {
    font: 1em sans-serif;
     margin-top:-10%;
    background: rgba(92, 88, 88, 0.5);
    width: 50%;
    align-items: center;
    justify-content: center;
    min-width: 142px;
    position: absolute;
    a {
      text-decoration: none;
      color: white;
      padding: 3em;
      &:nth-child(1){
        font-size: .5em;

      }
      &:nth-child(2) {
        font-size: 0.5em;
      }
    }
  }
  
  #welcome{
      margin-left: -15%;
  }
  #visit-hotels-btn {
    //  margin:75% 0 0% 25%;
    //  width: 15em;
    //  height: 3em;
    //  background: hsla(240, 91%, 55%,.9);
    //  border-radius: .5em;
    visibility: hidden;
    a {
      color: white;
      text-decoration: none;
      font: 1.3em sans-serif;
      padding: 1em;
    }
  }
}

@media only screen and(min-width:500px){
    nav{
        margin-left:-70%;
        width: 60%;
    flex-direction: column;
    }
}